.container--esqueci--senha{
    margin: 0;
    padding: 0;
    
    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: _palette(accent1);
        padding: 1.75em 2em;
        border-radius:2em;
        box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.3);
        min-height: 25vh;
        width: 50vw;


        .conteudo{
            position: relative;
            left: 50%;
            transform: translate(-50%);
        .text{
            text-align: center;
            margin-bottom: 30px;
        }

        .botao{
            width: 100%;
        }
        
        }
    }
}